body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

/* -------------Header------------------- */

.header {
  border-bottom: 1px solid #E7E9FC;
}

.header-container {
  width: 1158px;
  display: flex;
  align-items: center;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-part {
  color: #2e2f42;
}

.navigation-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}

.nav-link:hover {
  color: #404bbf;
}
.nav-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
}
.address-list {
  display: flex; 
  gap: 40px;
}

.address-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* --------------------------------------*/

/* -------------Hero------------------- */

.hero {
 
}

.hero-container {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: #2e2f42;
  
}
.hero-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  width: 496px;
  margin: 0 auto;
}

.hero-button {
  background: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin-top: 48px ;
  max-width: 169px;
  display: inline-flex;
align-items: flex-start;
gap: 10px;
border-radius: 4px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
height: 56px;
width: 169px;
padding-top: 16px;
padding-left: 32px;

}

.button-center {
  display: flex;
  justify-content: center;
}

.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}

/* --------------------------------------*/

/* -------------Features------------------- */

.features {
  background: #fff;
}
.features-container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em; 
  margin-bottom: 8px;
 
}

.features-list {
  display: flex;
  gap: 24px;
  }

  .features-item {
    background-color: #ffffff;
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: calc((100% - 24px *3) / 4)
   }

.features-about {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
 

}

/* --------------------------------------*/

/* -------------Team------------------- */

.team 

.team-container {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #f4f4fd;
}

.team-title {
  margin: 0 auto;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.members-list {
display: flex;
gap: 24px;
justify-content: space-between;
  
}

.team-member {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-top: 32px;
  display: flex;
  flex: row;
  justify-content: center;
}

.team-mem-pos {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  flex: row;
  justify-content: center;

}
.team-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* --------------------------------------*/

/* -------------Portfolio------------------- */

.portfolio {
  background: #fff;
}


.portfolio-container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-item {
  border: 1px solid #E7E9FC; 

}

.portfolio-list-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* --------------------------------------*/

/* -------------Footer------------------- */

.footer {
  
  
}

.footer-container {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 156px;
}


.footer-text {
  color: #f4f4fd;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;;
}
.logo-part-footer {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 18px;
}

/* ------------------------------------ */